[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
aiohttp = ">=3.7.4"
unidecode = "*"
prometheus-client = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.9"
